.padding-0 {
    padding-left: 0;
    padding-right: 0;
}

.avatar-row {
    margin-bottom: 15px !important;
    width: 90%;
    margin: auto;
}

button {
    background-color: transparent;
    border: none;
}

button:focus, button:active {
    border: none !important;
    outline: 0 !important;
}

.selected-image {
    border: 5px black solid;
}

.center {
    margin:auto;
}

.card {
    margin-bottom: 40px;
}

.card-img {
    width: 100px;
}

.img-fluid {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card-title {
    margin-top: 5px;
}

#skin-tones {
    margin-left: -40px;
}

#skin-tones img {
    border-radius: 50%;
    margin-left: 5px;
    margin-bottom: 5px;
}