{% block scripts %}
<script>
  var interest = sessionStorage.getItem("interest");
  var skill = sessionStorage.getItem("skill");
  var issue = sessionStorage.getItem("issue");

  async function start() {
    var url = "http://interimpersona.artjam-287602.et.r.appspot.com/get_campus_activities_by_wheel/" + issue + "/" + skill + "/" + interest;
    var response = await fetch(url);
    var data = await response.json();
    var activities = data["schoolActivities"];
    var activitiesArr = activities.split(",");
    document.getElementById("button1").innerHTML = activitiesArr[0];
    document.getElementById("button2").innerHTML = activitiesArr[1];
    document.getElementById("button3").innerHTML = activitiesArr[2];
    document.getElementById("button4").innerHTML = activitiesArr[3];

    document.getElementById("modal1Label").innerHTML = activitiesArr[0];
    document.getElementById("modal2Label").innerHTML = activitiesArr[1];
    document.getElementById("modal3Label").innerHTML = activitiesArr[2];
    document.getElementById("modal4Label").innerHTML = activitiesArr[3];
  }
  start();
</script>
{% endblock %}

{% extends "layout.html" %} {% block title %}Activities on Campus{% endblock %}
{% block content %}
<div class="container mt-4">
  <span class="glyphicon glyphicon-home" style="font-size:20px;"></span>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  
  <!-- CAROUSEL -->
  <div
    id="carouselControls"
    class="carousel slide multi-item-carousel mt-4"
    style="position: absolute; left: 0; right: 0;background-color: #fdf6ee;"
    data-interval="false"
  >
    <div class="carousel-inner">
      <div class="carousel-item active image-choice" align="center">
        <img
          width="200px"
          src=" {{ url_for('static', filename = 'img/green.jpg') }}"
        />
      </div>
      <div class="carousel-item image-choice" align="center">
        <img
          width="200px"
          src=" {{ url_for('static', filename = 'img/orange.jpg') }}"
        />
      </div>
      <div class="carousel-item image-choice" align="center">
        <img
          width="200px"
          src=" {{ url_for('static', filename = 'img/blue.png') }}"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br/>
  <div class="container mb-3">
    <h4 class="text-center mb-4">Activities on Campus</h4>
    <button type="button" id="button1" class="btn-block text-white btn pt-3 pb-3 mb-3" data-toggle="modal" data-target="#modal1" style="background-color: #4a8bae;font-size: 20px;"></button>
    <button type="button" id="button2" class="btn-block text-white btn pt-3 pb-3 mb-3" data-toggle="modal" data-target="#modal2" style="background-color: #4a8bae;font-size: 20px;"></button>
    <button type="button" id="button3" class="btn-block text-white btn pt-3 pb-3 mb-3" data-toggle="modal" data-target="#modal3" style="background-color: #4a8bae;font-size: 20px;"></button>
    <button type="button" id="button4" class="btn-block text-white btn pt-3 pb-3 mb-3" data-toggle="modal" data-target="#modal3" style="background-color: #4a8bae;font-size: 20px;"></button>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal1Label"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit amet , consectetur adipiscing elit.
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal2Label"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit amet , consectetur adipiscing elit.
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modal3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal3Label"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit amet , consectetur adipiscing elit.
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="modal3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal4Label"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit amet , consectetur adipiscing elit.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col padding-0" align="left">
        <button onclick="window.location.href='/home-activities'" style="border: none;background-color: #fdf6ee;">
          <img
          width="50px"
          style="margin-top: 5px; margin-bottom: 20px"
          src="../static/img/back.svg"
          />
        </button>
    </div>
    <div class="col padding-0" align="right">
        <button onclick="window.location.href='/digging-deeper'" style="border: none;background-color: #fdf6ee;">
            <img
            width="50px"
            style="margin-top: 5px; margin-bottom: 20px"
            src="../static/img/next.svg"
            />
        </button>
    </div>
  </div>
</div>
{% endblock %}