{% block scripts %}
<script>
    if(sessionStorage.getItem("iLikeTo") == null) {
      alert("Please select an approach.");
      document.location.href = "/digging-deeper";
    }
</script>
{% endblock %}

{% extends "layout.html" %} {% block title %}End of Quiz{% endblock %}
{% block content %}
<div class="container">
    <img src='../static/img/stations/ascend.svg' style="width:100%;display: block;margin-left:auto;margin-right:auto;margin-top:60px;"/>
    <p class="header text-center mt-4 mb-4" style="font-size:26px;"><strong>CONGRATULATIONS!</strong></p>
    <p class="text-center mb-4" style="font-size:18px">Now you're ready to take the next step on your changemaking journey.</p>
    <p class="text-center" style="font-size:15px"><strong>Click next to view your report</strong></p>
    <div class="row ml-1 mr-1">
        <div class="col padding-0" align="left">
            <button onclick="window.location.href='/digging-deeper'" style="border: none;background-color: #fdf6ee;">
                <img
                width="50px"
                style="margin-top: 5px; margin-bottom: 20px"
                src="../static/img/misc/back.svg"
                />
            </button>
        </div>
        <div class="col padding-0" align="right">
            <button onclick="window.location.href='/final-report'" style="border: none;background-color: #fdf6ee;">
                <img
                width="50px"
                style="margin-top: 5px; margin-bottom: 20px"
                src="../static/img/misc/next.svg"
                />
            </button>
        </div>
    </div>
</div>
{% endblock %}