
{% extends "layout.html" %}
{% block title %}Avatar Selection{% endblock %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col" align='center'>
                <h1>Avatar Selection</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-10 padding-0" align="center" id="image-choice">
                <img width="170px" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
            </div>
            <div class="col" id="skin-tones">
                <button id="skintone-1">
                    <img width="30px" src="https://img.pngio.com/blinkeze-eyelid-weights-fci-ophthalmics-skin-color-png-800_800.png">
                </button>
                <button id="skintone-2">
                    <img width="30px" src="https://img.pngio.com/blinkeze-eyelid-weights-fci-ophthalmics-skin-color-png-800_800.png">
                </button>
                <button id="skintone-3">
                    <img width="30px" src="https://img.pngio.com/blinkeze-eyelid-weights-fci-ophthalmics-skin-color-png-800_800.png">
                </button>
                <button id="skintone-4">
                    <img width="30px" src="https://img.pngio.com/blinkeze-eyelid-weights-fci-ophthalmics-skin-color-png-800_800.png">
                </button>
            </div>
        </div>
        <br>

        <div id="avatars">
            <div class="row avatar-row">
                <div class="col padding-0" align="center">
                    <button id="avatar-1">
                        <img width="100px" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
                    </button>
                </div>
                <div class="col padding-0" align="center">
                    <button id="avatar-2">
                        <img width="100px" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/girl_female_woman_avatar-512.png">
                    </button>
                </div>
                <div class="col padding-0" align="center">
                    <button id="avatar-3">
                        <img width="100px" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/girl_female_woman_avatar-512.png">
                    </button>
                </div>
            </div>
    
            <div class="row avatar-row">
                <div class="col padding-0" align="center">
                    <button id="avatar-4">
                        <img width="100px" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/girl_avatar_child_kid-512.png">
                    </button>
                </div>
                <div class="col padding-0" align="center">
                    <button id="avatar-5">
                        <img width="100px" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
                    </button>
                </div>
                <div class="col padding-0" align="center">
                    <button id="avatar-6">
                        <img width="100px" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
                    </button>
                </div>
            </div>
    
            <div class="row avatar-row">
                <div class="col padding-0" align="center">
                    <button id="avatar-7">
                        <img width="100px" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
                    </button>
                </div>
                <div class="col padding-0" align="center">
                    <button id="avatar-8">
                        <img width="100px" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
                    </button>
                </div>
                <div class="col padding-0" align="center">
                    <button id="avatar-9">
                        <img width="100px" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
                    </button>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col">
                <button class='btn btn-primary float-right'>Next</button>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block scripts %}
    <script>
        $(function() {
            $("#skin-tones").bind("focusin", function() {
                var focused_btn = $(":focus")
                console.log(focused_btn)
            })
        });

        $(function() {
            $("#avatars").bind("focusin", function() {
                var focused_btn = $(":focus")
                $("#image-choice").find("img")[0].src = focused_btn.find("img")[0].src
            })
        });

    </script>
    {% endblock %}