{% extends "layout.html" %} {% block title %}Avatar Selection{% endblock %} {%
block content %}

<div class="container bg-beige full-height">
  <br />
  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      style="width: 25%"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>

  <br />
  <div class="row">
    <div class="col" align="center">
      <h2>Pick An Avatar!</h2>
    </div>
  </div>

  <br />
  <div id="convo-circle" class="bg-blue convo-circle">
    <p>Fab!</p>
  </div>
  <!-- <div class="row bg-light-blue" style="margin-top: -20px;">
            <div class="col padding-0" align="center" id="image-choice">
                <img width="250px" src=" {{ url_for('static', filename = 'img/avatar-faces/avatar-1-skin-1.svg') }}">
            </div>
        </div> -->

  <div
    id="carouselControls"
    class="carousel slide bg-light-blue multi-item-carousel"
    style="margin-top: -20px; position: absolute; left: 0; right: 0"
    data-interval="false"
  >
    <div class="carousel-inner">
      <div class="carousel-item active image-choice" align="center">
        <img
          id="skin-1"
          width="250px"
          src=" {{ url_for('static', filename = 'img/avatar-faces/avatar-1-skin-1.svg') }}"
        />
      </div>
      <div class="carousel-item image-choice" align="center">
        <img
          id="skin-2"
          width="250px"
          src=" {{ url_for('static', filename = 'img/avatar-faces/avatar-1-skin-1.svg') }}"
        />
      </div>
      <div class="carousel-item image-choice" align="center">
        <img
          id="skin-3"
          width="250px"
          src=" {{ url_for('static', filename = 'img/avatar-faces/avatar-1-skin-1.svg') }}"
        />
      </div>
      <div class="carousel-item image-choice" align="center">
        <img
          id="skin-4"
          width="250px"
          src=" {{ url_for('static', filename = 'img/avatar-faces/avatar-1-skin-1.svg') }}"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br />

  <br /><br /><br /><br /><br /><br /><br />
  <div class="row text-center">
    <div class="col">
      <p>Swipe to change your skintone!</p>
    </div>
  </div>
  <br />
  <div id="avatars">
    <div class="row avatar-row">
      <div class="col padding-0" align="center">
        <button id="avatar-1" class="avatar-btn">
          <img
            class="avatar-img"
            src=" {{ url_for('static', filename = 'img/avatar-faces/avatar-1-skin-1.svg') }}"
          />
        </button>
      </div>
      <div class="col padding-0" align="center">
        <button id="avatar-2" class="avatar-btn">
          <img
            class="avatar-img"
            src=" {{ url_for('static', filename = 'img/avatar-faces/avatar-2-skin-1.svg') }}"
          />
        </button>
      </div>
      <div class="col padding-0" align="center">
        <button id="avatar-3" class="avatar-btn">
          <img
            class="avatar-img"
            src=" {{ url_for('static', filename = 'img/avatar-faces/avatar-3-skin-1.svg') }}"
          />
        </button>
      </div>
    </div>

    <div class="row avatar-row">
      <div class="col padding-0" align="center">
        <button id="avatar-4" class="avatar-btn">
          <img
            class="avatar-img"
            src=" {{ url_for('static', filename = 'img/avatar-faces/avatar-4-skin-1.svg') }}"
          />
        </button>
      </div>
      <div class="col padding-0" align="center">
        <button id="avatar-5" class="avatar-btn">
          <img
            class="avatar-img"
            src=" {{ url_for('static', filename = 'img/avatar-faces/avatar-5-skin-1.svg') }}"
          />
        </button>
      </div>
      <div class="col padding-0" align="center">
        <button id="avatar-6" class="avatar-btn">
          <img
            class="avatar-img"
            src=" {{ url_for('static', filename = 'img/avatar-faces/avatar-6-skin-1.svg') }}"
          />
        </button>
      </div>
    </div>

    <div class="row avatar-row">
      <div class="col padding-0" align="center">
        <button id="avatar-7" class="avatar-btn">
          <img
            class="avatar-img"
            src=" {{ url_for('static', filename = 'img/avatar-faces/avatar-7-skin-1.svg') }}"
          />
        </button>
      </div>
      <div class="col padding-0" align="center">
        <button id="avatar-8" class="avatar-btn">
          <img
            class="avatar-img"
            src=" {{ url_for('static', filename = 'img/avatar-faces/avatar-8-skin-1.svg') }}"
          />
        </button>
      </div>
      <div class="col padding-0" align="center">
        <button id="avatar-9" class="avatar-btn">
          <img
            class="avatar-img"
            src=" {{ url_for('static', filename = 'img/avatar-faces/avatar-9-skin-1.svg') }}"
          />
        </button>
      </div>
    </div>

    <div class="row avatar-row">
      <div class="col padding-0" align="center">
        <button onclick="window.location.href='/name'">
          <img
            width="85%"
            style="margin-top: -20%"
            src=" {{ url_for('static', filename = 'img/misc/back.svg') }}"
          />
        </button>
      </div>
      <div class="col padding-0" align="center">
        <button id="avatar-10" style="margin-top: -30%" class="avatar-btn">
          <img
            class="avatar-img"
            style="margin-top: -20%"
            src=" {{ url_for('static', filename = 'img/avatar-faces/avatar-10-skin-1.svg') }}"
          />
        </button>
      </div>
      <div class="col padding-0" align="center">
        <button id="confirm">
          <img
            width="85%"
            style="margin-left: 15%; margin-top: -20%"
            src=" {{ url_for('static', filename = 'img/misc/next.svg') }}"
          />
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script>

  $("#confirm").on("click", function() {
    sessionStorage.setItem("chosen-skin", $(".active").find("img")[0].id);
    window.location.href='/confirm-avatar'
  })

  $(function () {
    $("#avatars").bind("focusin", function () {
      var focused_btn = $(":focus");
      if (focused_btn.attr("class") !== undefined) {
        $(".image-choice")
          .find("img")
          .each(function (index, element) {
            var len = focused_btn.find("img")[0].src.length
            $(this)[0].src = focused_btn.find("img")[0].src.substr(0, len - 5) + (index + 1) + ".svg";
            sessionStorage.setItem("chosen-avatar", focused_btn[0].id);
          });
      }

      var text = ["Fab!", "Gr8!", "Nice!"];
      var option = Math.floor(Math.random() * 3);

      $("#convo-circle").find("p").text(text[option]);
    });
  });

  $(".carousel").on("touchstart", function (event) {
    var xClick = event.originalEvent.touches[0].pageX;
    $(this).one("touchmove", function (event) {
      var xMove = event.originalEvent.touches[0].pageX;
      if (Math.floor(xClick - xMove) > 5) {
        $(this).carousel("next");
      } else if (Math.floor(xClick - xMove) < -5) {
        $(this).carousel("prev");
      }
    });
    $(".carousel").on("touchend", function () {
      $(this).off("touchmove");
    });
  });
</script>
{% endblock %}
