{% extends "layout.html" %} {% block title %}Book Recommendation{% endblock %}
{% block content %}

<div class="container bg-beige">
  <br />
  <div class="row">
    <div class="col text-center">
      <h1>Book Recommendation</h1>
      <div class="col" style="margin: auto">
        <p>[ Illustration of Book Recommendation here ]</p>
        <img
          class="img-card" src=" {{ url_for('static', filename = 'img/stations/books.svg') }}"
        />
        <h4>Tap for more information</h4>
      </div>

      <div class="col" id="book-list" style="margin: auto">          
        </div>
      </div>
    </div>
  </div>
  <br />

  <!-- BACK NEXT BUTTONS -->
  <br />
  <div class="row">
    <div class="col">
      <a href="/skill-recommendation">
        <img
          style="width: 90px; float: left; margin-left: 30px"
          src=" {{ url_for('static', filename = 'img/misc/back.svg') }}"
        />
      </a>
    </div>
    <div class="col">
      <a href="/other-resource">
        <img
          style="width: 90px; float: right; margin-right: 30px"
          src=" {{ url_for('static', filename = 'img/misc/next.svg') }}"
        />
      </a>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script>
  async function bookImgClick(bookId) {
      var response = await fetch("http://finalpersona.artjam-287602.et.r.appspot.com/get_all_books");
      var data = await response.json();
      var books = data["books"]
      var specificBook = "";
      books.forEach(book => {
          // console.log(book["name"], clicked)
          if (book["id"] == bookId) {
              specificBook = book
          }
      });
    console.log(specificBook);
    sessionStorage.setItem("book", JSON.stringify(specificBook))
    window.location.replace("/specific-book-recommendation");
  };

  $(async() => {
      var finalpersona = sessionStorage.getItem("finalpersona");
      // var mockFinalPersona = "CEO"
      var response = await fetch("http://finalpersona.artjam-287602.et.r.appspot.com/get_books_by_final_persona/" + finalpersona);
      var data = await response.json();
      var books = data["books"]


      books.forEach(book => {
        var row = '<div class="card"> <div class="card-header" id="headingOne"> <h5 class="mb-0"> <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >' 
            + book["name"] + '</button> </h5> </div><div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#book-list" > <div class="card-body">'
            + book["description"]
            + '<br><img id="'+ book['id'] +'" onclick="bookImgClick(this.id)" width="150px" style="margin-left: 25px; margin-top: 25px;" src="' + book["image_link"] + '"></div></div>';
          $("#book-list").append(row);
      });
  });
</script>
{% endblock %}
