{% block scripts %}
<script>
  async function start() {
    var url = "http://digdeeper.artjam-287602.et.r.appspot.com/get_iLikeTo";
    var response = await fetch(url);
    var data = await response.json();
    var iLikeTo = data["data"];
    document.getElementById("button1").innerHTML = iLikeTo[0];
    document.getElementById("button2").innerHTML = iLikeTo[1];
    document.getElementById("button3").innerHTML = iLikeTo[2];
    document.getElementById("button4").innerHTML = iLikeTo[3];
    document.getElementById("button5").innerHTML = iLikeTo[4];
    document.getElementById("button6").innerHTML = iLikeTo[5];

    document.getElementById("modal1Label").innerHTML = iLikeTo[0];
    document.getElementById("modal2Label").innerHTML = iLikeTo[1];
    document.getElementById("modal3Label").innerHTML = iLikeTo[2];
    document.getElementById("modal4Label").innerHTML = iLikeTo[3];
    document.getElementById("modal5Label").innerHTML = iLikeTo[4];
    document.getElementById("modal6Label").innerHTML = iLikeTo[5];

    for (var i = 0; i < 6; i++) {
      let iLike = iLikeTo[i];
      let url = "http://digdeeper.artjam-287602.et.r.appspot.com/get_dig_deeper_desc/" + iLike;
      getDesc(i, url);
    }
  }
  start();

  async function getDesc(i, url) {
    var response = await fetch(url);
    var data = await response.json();
    var longDesc = data["data"]["longDesc"];
    console.log(longDesc);
    let id = "modal" + i + "Desc";
    document.getElementById(id).innerHTML = longDesc;
  }

  function select(clicked) {
    sessionStorage.setItem("iLikeTo", clicked);
  }

  function changeColor(id) {
    if (id == "Set Goals and Directions") {
      var num = 1
    } else if (id == "Create things that improve lives") {
      var num = 2
    } else if (id == "Generate Solution to Problems") {
      var num = 3
    } else if (id == "Think about How to Deliver Solutions to more people") {
      var num = 4
    } else if (id == "Think about opportunities and risks of possible solutions") {
      var num = 5
    } else {
      var num = 6
    }
    document.getElementById("button" + num).style.backgroundColor = "#ea755a";
  }
</script>
{% endblock %}

{% block style %}
<style>
  .glyphicon {
    font-size:20px;
  }

  .progress-bar {
    width: 25%
  }

  .digging-deeper-img {
    width: 100%;
  }

  #button1, #button2, #button3, #button4, #button5, #button6 {
    background-color: #4a8bae;
    font-size: 15px;
  }

  .back-next-button {
    border: none;
    background-color: #fdf6ee;
  }

  @media (min-width: 426px) and (max-width: 768px) {
    #digging-deeper {
      max-width: 60vw;
    }
  }

  @media (min-width: 1024px) and (max-width: 1439px) {
    #digging-deeper {
      max-width: 50vw;
    }
  }

  @media (min-width: 1440px) {
    #digging-deeper {
      max-width: 40vw;
    }
  }
</style>
{% endblock %}

{% extends "layout.html" %} {% block title %}Digging Deeper{% endblock %} {%
block content %}
<div class="container mt-4">
  <span class="glyphicon glyphicon-home"></span>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
<div class="container mt-4" id="digging-deeper">
  <h2 class="text-center display-5 mt-3 mb-3">Digging Deeper</h2>
  <img class="digging-deeper-img" src="{{ url_for('static', filename = 'img/stations/digging-deeper.svg') }}" />
  <p class="display-5 mt-3 mb-4 text-center">Everyone has different approaches toward life. What's your favorite?</p>
  <div class="container mb-3">
    <button type="button" id="button1" class="btn-block text-white btn pt-3 pb-3 mb-3" data-toggle="modal" data-target="#modal1"></button>
    <button type="button" id="button2" class="btn-block text-white btn pt-3 pb-3 mb-3" data-toggle="modal" data-target="#modal2"></button>
    <button type="button" id="button3" class="btn-block text-white btn pt-3 pb-3 mb-3" data-toggle="modal" data-target="#modal3"></button>
    <button type="button" id="button4" class="btn-block text-white btn pt-3 pb-3 mb-3" data-toggle="modal" data-target="#modal4"></button>
    <button type="button" id="button5" class="btn-block text-white btn pt-3 pb-3 mb-3" data-toggle="modal" data-target="#modal5"></button>
    <button type="button" id="button6" class="btn-block text-white btn pt-3 pb-3 mb-3" data-toggle="modal" data-target="#modal6"></button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal1Label"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src=" {{ url_for('static', filename = 'img/dig-deeper/Goal-setter.svg') }}">
          <div id="modal0Desc">Lorem ipsum dolor sit amet , consectetur adipiscing elit.</div>
        </div>
        <div class="modal-footer">
          <button id="Set Goals and Directions" type="button" class="btn btn-secondary" onClick="select(this.id);changeColor(this.id);" data-dismiss="modal">Select this</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal2Label">Approach 2</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src=" {{ url_for('static', filename = 'img/dig-deeper/Creator.svg') }}">
          <div id="modal1Desc">Lorem ipsum dolor sit amet , consectetur adipiscing elit.</div>
        </div>
        <div class="modal-footer">
          <button id="Create things that improve lives" type="button" class="btn btn-secondary" onClick="select(this.id);changeColor(this.id);" data-dismiss="modal">Select this</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modal3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal3Label">Approach 3</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src=" {{ url_for('static', filename = 'img/dig-deeper/Problem-solver.svg') }}">
          <div id="modal2Desc">Lorem ipsum dolor sit amet , consectetur adipiscing elit.</div>
        </div>
        <div class="modal-footer">
          <button id="Generate Solution to Problems" type="button" class="btn btn-secondary" onClick="select(this.id);changeColor(this.id);" data-dismiss="modal">Select this</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal4Label">Approach 4</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src=" {{ url_for('static', filename = 'img/dig-deeper/Connector.svg') }}">
          <div id="modal3Desc">Lorem ipsum dolor sit amet , consectetur adipiscing elit.</div>
        </div>
        <div class="modal-footer">
          <button id="Think about How to Deliver Solutions to more people" type="button" class="btn btn-secondary" onClick="select(this.id);changeColor(this.id);" data-dismiss="modal">Select this</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="modal5Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal5Label">Approach 5</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src=" {{ url_for('static', filename = 'img/dig-deeper/Analyst.svg') }}">
          <div id="modal4Desc">Lorem ipsum dolor sit amet , consectetur adipiscing elit.</div>
        </div>
        <div class="modal-footer">
          <button id="Think about opportunities and risks of possible solutions" type="button" class="btn btn-secondary" onClick="select(this.id);changeColor(this.id);" data-dismiss="modal">Select this</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="modal6Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal6Label">Approach 6</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="mb-1" src=" {{ url_for('static', filename = 'img/dig-deeper/Enabler.svg') }}">
          <div id="modal5Desc">Lorem ipsum dolor sit amet , consectetur adipiscing elit.</div>
        </div>
        <div class="modal-footer">
          <button id="Make information accessible" type="button" class="btn btn-secondary" onClick="select(this.id);changeColor(this.id);" data-dismiss="modal">Select this</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row ml-1 mr-1">
    <div class="col padding-0" align="left">
        <button class="back-next-button" onclick="window.location.href='/campus-activities'">
          <img
            class="back-next-img"
            width="50px"
            src="../static/img/misc/back.svg"
          />
        </button>
    </div>
    <div class="col padding-0" align="right">
        <button class="back-next-button" onclick="window.location.href='/ascend'">
          <img
            class="back-next-img"
            width="50px"
            src="../static/img/misc/next.svg"
          />
        </button>
    </div>
  </div> 
</div>
{% endblock %}