
{% extends "layout.html" %}
{% block title %}Final Report{% endblock %}

{% block content %}


    <div class="container bg-beige full-height">

        <br>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100">
            </div>
        </div>
        <br>

        <div id="" class="container text-center">
            <h2 class="bg-orange text-white">
                Your Changemaking Persona is 
            <h2 id="finalpersona" class="bg-light-green text-white"></h2>
                
            </h2>
            <br>
        </div>
        <div id="face" class="">
            <div class="row bg-light-blue" style="margin-top: -20px;">
                <div class="col padding-0 image-choice" align="center" >
              
              <img width="300px" src="{{ url_for('static', filename = 'img/avatar-1.svg') }}">
                </div>
            </div>
        </div>

        <div id="personaTitle" class="container text-center">
            
            <div class="text-center">
                <p id="finalpersonaDesc"></p>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col">
                <a href="/quiz-end">
                    <img style="width: 90px; float: left; margin-left: 30px;" src="../static/img/back.svg">
                </a>

            </div>
            <div class="col">
                <a href="/skill-recommendation">
                    <img style="width: 90px; float: right; margin-right: 30px;" src="../static/img/next.svg">
                </a>
            </div>
        </div>

    </div>

{% endblock %}


{% block scripts %}
<script>

    $(async() => {
        // var interimPersona = sessionStorage.getItem("interimPersona");
        // console.log(interimPersona);

        // var iLikeTo = sessionStorage.getItem("iLikeTo");
        // console.log(iLikeTo);
        var mockInterimPersona = "Tech"
        var mockILikeTo = "I like to generate solutions to problems"
        // http://finalpersona.artjam-287602.et.r.appspot.com/get_final_persona/Tech/I like to generate solutions to problems
        var response = await fetch("http://finalpersona.artjam-287602.et.r.appspot.com/get_final_persona/" + mockInterimPersona + "/" + mockILikeTo)
        var data = await response.json();
        
        var finalpersona = data["data"]["finalPersona"];
        sessionStorage.setItem("finalpersona", finalpersona);
        var finalpersonaDesc = data["data"]["description"];
        
        $("#finalpersona").append(finalpersona);
        $("#finalpersonaDesc").append(finalpersonaDesc);

    });


    
</script>
{% endblock %}
