<!DOCTYPE html>
<html lang="en" style="height:100%;">

<head>
  <title>ARTJAM - Home</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/book-style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body style="height:100%;">

  <div style="height: 100vh; background-size:cover; background-image: url('/static/img/insp-bg.jpg');">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col" style="width:70%; margin: auto;">
          <br><br>
          <img width="80%" src="/static/img/smu-logo.png">
          <br><br><br><br>
          <h1>Welcome to your Changemaking Journey</h1>
          <br>
          <button class="btn btn-primary bg-orange" style="padding: 10px 10px; width: 220px; font-size: 25px;"
            onclick="window.location.href='/name'" type="button">
            press to begin
          </button>
        </div>

      </div>

      <br><br><br><br><br><br><br>
      <div class="row">
        <div class="col text-center text-white">
          <p>Swipe for more information</p>
          <i class="fas fa-chevron-down" style="color: white;"></i>
        </div>
      </div>
    </div>

  </div>

  <div class="container bg-beige" id="changemaking-info">
    <div class="row">
      <div class="col text-center">
        <br><br><br>
        <h1 >Changemaking Resources</h1>
        <br>
        <div class="col padding-0" align="center">
          <button onclick="window.location.href='/books'">
            <div class="jumbotron">
              <h3>Recommended Books</h3>
              <img width="50px" style="margin-left: 250px; margin-top: 8px;"  src="../static/img/next.svg">
            </div>
          </button>
        </div>

        <div class="col padding-0" align="center">
          <button onclick="window.location.href='/books'">
            <div class="jumbotron">
              <h3>Recommended Skills</h3>
              <img width="50px" style="margin-left: 250px; margin-top: 8px;"  src="../static/img/next.svg">
            </div>
          </button>
        </div>
        <br>

          <button class="btn btn-primary bg-orange" style="padding: 10px 10px; width: 220px; font-size: 25px;"
            onclick="window.location.href='/name'" type="button">
            More about Changemaking
          </button>

          <br><br><br>

        </div>

    </div>

  </div>





  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


</body>


</html>