{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container text-center">
    <h3>Welcome to your Changemaking Journey</h3>
    <div class="card text-black bg-transparent text-center">
        <img class="card-img img-fluid" src="/static/img/smu-home.jpg" alt="SMU Connexion">
        <div class="card-img-overlay" style="background: rgba(255, 255, 255, 0.5);">
          <h5 class="card-title">ARTJAM</h5>
          <p class="card-text">A bit introduction about ARTJAM project</p>
          <p class="card-text">This is another paragraph of intro...</p>
        </div>
    </div>
    <div>
      <h4 class="font-italic">Everyone can be a Changemaker!</h4>

      <img src="/static/img/home-2.jpg" class="img-fluid" alt="Catalysing positive social change poster"/>
    </div>
    
    <div class="text-right">
      <button type="button" class="btn btn-primary">Let's go!</button>
    </div>
</div>







{% endblock %}

{% block scripts %}


{% endblock %}