{% extends "layout.html" %} {% block title %}Avatar Selection{% endblock %} {%
block content %}

<div class="container bg-beige full-height" id="info-carousel">
  <br /><br />

  <div
    id="carouselControls"
    class="carousel slide multi-item-carousel"
    style="
      margin-top: 20px;
      position: absolute;
      left: 0;
      right: 0;
      width: 90%;
      margin: auto;
    "
    data-interval="false"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" align="center">
        <div class="row">
          <div class="col" align="center">
            <h2>Why is<br />Changemaking<br />Important?</h2>
            <img
              style="margin-top: -15%; margin-left: -10px"
              width="90%"
              src=" {{ url_for('static', filename = 'img/misc/c_logo.svg') }}"
            />
            <p>Scroll down to read more</p>
            <i class="fas fa-chevron-down" style="color: black"></i>
            <br /><br /><br /><br /><br />
            <p
              align="left"
              style="width: 80%; margin: auto; text-justify: inter-word"
            >
              Changemaking is the superpower of the 21st century. We need it to improve prosperity. We need it to solve complex social problems. And we need it to be resilient in the wake of a pandemic – or whatever unexpected, tangled problem comes next. 
            </p>
            <br /><br /><br /><br />
          </div>
        </div>
      </div>
      <div class="carousel-item" align="center">
        <div class="row">
          <div class="col" align="center">
            <h2>What is an <br />Ashoka U?<br /></h2>
            <img
              style="margin-top: -15%; margin-left: -10px"
              width="90%"
              src=" {{ url_for('static', filename = 'img/misc/ashoka.svg') }}"
            />
            <br /><br /><br />
            <p>Scroll down to read more</p>
            <i class="fas fa-chevron-down" style="color: black"></i>
            <br /><br /><br /><br />
            <p
              align="left"
              style="width: 80%; margin: auto; text-justify: inter-word"
            >
            Ashoka University is a pioneer in its focus on providing a liberal education at par with the best in the world. The aim at Ashoka is to help students become well-rounded individuals who can think critically about issues from multiple perspectives, communicate effectively and become leaders with a commitment to public service. An Ashoka education carries a strong emphasis on foundational knowledge, thorough academic research based on rigorous pedagogy, and hands-on experience with real-world challenges. 
            </p>
            <br /><br /><br /><br />
          </div>
        </div>
      </div>
      <div class="carousel-item" align="center">
        <div class="row">
          <div class="col" align="center">
            <h2>What is the Lien Innovation Center all about?</h2>
            <img
              style="margin-top: -15%; margin-left: -10px"
              width="90%"
              src=" {{ url_for('static', filename = 'img/misc/lien.svg') }}"
            />
            <p>Scroll down to read more</p>
            <i class="fas fa-chevron-down" style="color: black"></i>
            <br /><br /><br /><br /><br />
            <p
              align="left"
              style="width: 80%; margin: auto; text-justify: inter-word"
            >
              The Lien Centre for Social Innovation at Singapore Management University, a non-profit organisation established in 2006, seeks to be a thought leader and catalyst for positive social change in Singapore, Asia and beyond. Its mission is to catalyse innovative responses to social needs through applied research and capacity building in collaboration with the public, private and social sectors.
            </p>
            <br /><br /><br /><br />
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselControls"
      role="button"
      data-slide="prev"
    >
      <span
        class="carousel-control-prev-icon"
        aria-hidden="false"
        style="filter: invert(100%); opacity: 1"
      ></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselControls"
      role="button"
      data-slide="next"
    >
      <span
        class="carousel-control-next-icon"
        aria-hidden="false"
        style="filter: invert(100%); opacity: 1"
      ></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br />
</div>

{% endblock %} {% block scripts %}
<script>
  $(function () {
    $("#skin-tones").bind("focusin", function () {
      var focused_btn = $(":focus");
      console.log(focused_btn);
    });
  });

  $(function () {
    $("#avatars").bind("focusin", function () {
      var focused_btn = $(":focus");
      if (focused_btn.attr("class") !== undefined) {
        $(".image-choice")
          .find("img")
          .each(function (element) {
            $(this)[0].src = focused_btn.find("img")[0].src;
          });
      }

      var text = ["Fab!", "Gr8!", "Nice!"];
      var option = Math.floor(Math.random() * 3);

      $("#convo-circle").find("p").text(text[option]);
    });
  });

  $(".carousel").on("touchstart", function (event) {
    var xClick = event.originalEvent.touches[0].pageX;
    $(this).one("touchmove", function (event) {
      var xMove = event.originalEvent.touches[0].pageX;
      if (Math.floor(xClick - xMove) > 5) {
        $(this).carousel("next");
      } else if (Math.floor(xClick - xMove) < -5) {
        $(this).carousel("prev");
      }
    });
    $(".carousel").on("touchend", function () {
      $(this).off("touchmove");
    });
  });
</script>
{% endblock %}
