{% block style %}
<style>
  .btn-secondary:focus {
    background-color: #ea755a !important;
    color: white;
    box-shadow: none!important;
    border: none !important;
  }
  
  .glyphicon {
    font-size:20px;
  }

  .progress-bar {
    width: 25%
  }

  .btn-group-vertical {
    width: 100%
  }

  .option {
    background-color: #4a8bae;
    white-space: normal;
  }

  .back-next-button {
    border: none;
    background-color: #fdf6ee;
  }

  .back-next-img {
    margin-left: 15%;
    margin-top: 5px;
    margin-bottom: 20px
  }

  @media (min-width: 426px) and (max-width: 768px) {
    #interest-options {
      max-width: 60vw;
    }
  }

  @media (min-width: 1024px) and (max-width: 1439px) {
    #interest-options {
      max-width: 50vw;
    }
  }

  @media (min-width: 1440px) {
    #interest-options {
      max-width: 40vw;
    }
  }
</style>
{% endblock %}

{% extends "layout.html" %} {% block title %}Interest{% endblock %}
{% block content %}
<div class="container mt-4">
  <span class="glyphicon glyphicon-home"></span>
  <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
<div class="container mt-4" id="interest-options">
  <p class="lead text-center mt-3">Please select an <strong>interest</strong> that is most relevant to you.</p>
  <form action="/skill" method="get">
    <div class="btn-group-vertical mt-10">
      <button id="Health" onClick="selection(this.id)" type="button" class="btn btn-secondary mb-3 option">
        <h4 class="display-5 pt-2">Health</h4>
        <p class="mb-2 font-weight-normal">The centre of human happiness and well-being.</p>
      </button>
      <button id="Volunteerism & Advocacy" onClick="selection(this.id)" type="button" class="btn btn-secondary mb-3 option">
        <h4 class="display-5 pt-2">Volunteerism & Advocacy</h4>
        <p class="mb-2 font-weight-normal">Gain a sense of purpose and create change.</p>
      </button>
      <button id="Campus" onClick="selection(this.id)" type="button" class="btn btn-secondary mb-3 option">
        <h4 class="display-5 pt-2">Campus</h4>
        <p class="mb-2 font-weight-normal">Bring SMU to the next level.</p>
      </button>
      <button id="Environment" onClick="selection(this.id)" type="button" class="btn btn-secondary mb-3 option">
        <h4 class="display-5 pt-2">Environment</h4>
        <p class="mb-2 font-weight-normal">Conserving nature for the benefit of the future.</p>
      </button>
      <button id="Personal Development" onClick="selection(this.id)" type="button" class="btn btn-secondary mb-3 option">
        <h4 class="display-5 pt-2">Personal Development</h4>
        <p class="mb-2 font-weight-normal">Activities that enhance the quality of life and the realization of dreams and aspirations</p>
      </button>
      <p id="warning"></p>
      <div class="col padding-0" align="right">
        <button class="back-next-button" onclick="window.location.href='/skill'">
          <img
            class="back-next-img"
            width="50px"
            src="../static/img/misc/next.svg"
          />
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script>
  // sessionStorage.setItem("interest", null);
  function selection(clicked) {
    // var url = "wheel2.php?interest=" + clicked;
    // document.location.href = url;
    sessionStorage.setItem("interest", clicked);
  }
</script>
{% endblock %}