{% block style %}
<style>
    .btn-secondary:focus {
        background-color: #ea755a !important;
        color: white;
        box-shadow: none!important;
        border: none;
    }

    @media (min-width: 426px) and (max-width: 768px) {
        #issue-options {
            max-width: 60vw;
        }
    }

    @media (min-width: 1024px) and (max-width: 1439px) {
        #issue-options {
            max-width: 50vw;
        }
    }

    @media (min-width: 1440px) {
        #issue-options {
            max-width: 40vw;
        }
    }
</style>
{% endblock %}

{% extends "layout.html" %} {% block title %}Issue{% endblock %}
{% block content %}
<div class="container mt-4">
    <span class="glyphicon glyphicon-home" style="font-size:20px;"></span>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<div class="container mt-4" id="issue-options">
    <p class="lead text-center mt-3">Please select an <strong>issue</strong> that is most relevant to you.</p>
    <form action="activities-at-home.html" method="get">
        <div class="btn-group-vertical mt-10" style="width:100%">
            <button id="Education And Mobility" onClick="selection(this.id)" type="button" class="btn btn-secondary mb-3" style="background-color: #4a8bae;white-space: normal;">
                <h4 class="display-5 pt-2">Education & Mobility</h4>
                <p class="mb-2 font-weight-normal">Everyone should have an equal opportunity to learn and pursue what they want to</p>
            </button>
            <button id="Equality and Diversity" onClick="selection(this.id)" type="button" class="btn btn-secondary mb-3" style="background-color: #4a8bae;white-space: normal;">
                <h4 class="display-5 pt-2">Equality & Diversity</h4>
                <p class="mb-2 font-weight-normal">Let's build a society where everyone has an equal opportunities to fulfil our potential</p>
            </button>
            <button id="Environment And Sustainability" onClick="selection(this.id)" type="button" class="btn btn-secondary mb-3" style="background-color: #4a8bae;white-space: normal;">
                <h4 class="display-5 pt-2">Environment & Sustainability</h4>
                <p class="mb-2 font-weight-normal">The natural ecosystem is crucial to those living on Earth - let us preserve our only home.</p>
            </button>
            <button id="Health and Well-Being" onClick="selection(this.id)" type="button" class="btn btn-secondary mb-3" style="background-color: #4a8bae;white-space: normal;">
                <h4 class="display-5 pt-2">Health & Wellbeing</h4>
                <p class="mb-2 font-weight-normal">Let's take great care of the physical, mental, emotional, and social aspects of our lives.</p>
            </button>
            <button id="Cyberspace" onClick="selection(this.id)" type="button" class="btn btn-secondary mb-3" style="background-color: #4a8bae;white-space: normal;">
                <h4 class="display-5 pt-2">Cybersecurity</h4>
                <p class="mb-2 font-weight-normal">Let's make sure we can create safe online spaces for people to connect and share information.</p>
            </button>
        </div>
    </form>
    <div class="row ml-1 mr-1">
        <div class="col padding-0" align="left">
            <button onclick="window.location.href='/skill'" style="border: none;background-color: #fdf6ee;">
                <img
                width="50px"
                style="margin-top: 5px; margin-bottom: 20px"
                src="../static/img/misc/back.svg"
                />
            </button>
        </div>
        <div class="col padding-0" align="right">
            <button onclick="window.location.href='/home-activities'" style="border: none;background-color: #fdf6ee;">
                <img
                width="50px"
                style="margin-top: 5px; margin-bottom: 20px"
                src="../static/img/misc/next.svg"
                />
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    console.log(sessionStorage.getItem("skill"));
    if(sessionStorage.getItem("skill") == null) {
      alert("Please select a skill.");
      document.location.href = "/skill";
    }
    function selection(clicked) {
        // var url = "wheel3.php?issue=" + clicked;
        // document.location.href = url;
        sessionStorage.setItem("issue", clicked);
    }
</script>
{% endblock %}