
{% extends "layout.html" %}
{% block title %}Books{% endblock %}

{% block content %}


    <div class="container bg-beige full-height">

        <br><br><br>
        <div class="row">
            <div class="col" align='center'>
                <h1>An avatar and nickname are all you need!</h1>
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col">
                <form style="width:80%; margin:auto;">
                  <div class="form-group">
                    <input type="text" class="input-text form-control form-control-lg" placeholder="nickname">
                  </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}

{% endblock %}
