{% extends "layout.html" %} {% block title %}Other Resources{% endblock %} {%
block content %}

<div class="container bg-beige">
  <br />
  <div class="row">
    <div class="col text-center">
      <h1>Other Resources</h1>
      <div class="col" style="margin: auto">
        <h4>To help you on your journey, here are some other resources</h4>
        <!-- <h4>Tap for more information</h4> -->
        <br><br>
        <p>
          Reddi Kotha (reddikotha@smu.edu.sg)<br>
          David Gomulya (dgomulya@smu.edu.sgd)
        </p>
      </div>
    </div>
  </div>
  <br />

  <div class="row"></div>

  <!-- BACK NEXT BUTTONS -->
  <br />
  <div class="row">
    <div class="col">
      <a href="/book-recommendation">
        <img
          style="width: 90px; float: left; margin-left: 30px"
          src=" {{ url_for('static', filename = 'img/misc/back.svg') }}"
        />
      </a>
    </div>
    <div class="col">
      <a href="/thank-you">
        <img
          style="width: 90px; float: right; margin-right: 30px"
          src=" {{ url_for('static', filename = 'img/misc/next.svg') }}"
        />
      </a>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script>
  // $(async() => {
  //     var response = await fetch("http://finalpersona.artjam-287602.et.r.appspot.com/get_all_skills")
  //     var data = await response.json();
  //     var skills = data["skills"]

  //     skills.forEach(skill => {
  //         // var row = '<a class="" href="/specificBook" id="' + skill["name"] + '" style="color: black !important;">' +
  //         //             '<img width="150px" style="margin-left: 25px; margin-top: 25px;" src="' + book["image_link"] + '"</a>'
  //             var row ="<p>hallo</p>";
  //         $("#skill-list").append(row);
  //     });

  // });
</script>
{% endblock %}
