<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="wheel.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="progress-tracker.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src='../static/img/congratulation.png' style="width:40%;display: block;margin-left:auto;margin-right:auto;margin-top:60px;"/>
    <p class="header text-center" style="margin-bottom: 20px;"><strong>CONGRATS!</strong></p>
    <p class="text-center" style="margin-bottom: 30px;"><strong>You made it to the end of your changemaking journey!</strong></p>
    <p class="text-center"><strong>Click next to view your report</strong></p>
    <a href="#" class="previous">&#8249;</a>
    <a href="#" class="next">&#8250;</a>
</body>
</html>