<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="wheel.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="progress-tracker.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTJAM - End of Quiz</title>
</head>
<body style="background-color: #fdf6ee;font-family: 'Righteous', cursive;">
    <div class="container">
        <img src='../static/img/congratulation.png' style="width:40%;display: block;margin-left:auto;margin-right:auto;margin-top:60px;"/>
        <p class="header text-center mt-4 mb-4" style="font-size:40px;"><strong>CONGRATS!</strong></p>
        <p class="text-center mb-4" style="font-size:18px">You made it to the end of your changemaking journey!</p>
        <p class="text-center" style="font-size:15px"><strong>Click next to view your report</strong></p>
        <div class="row">
            <div class="col padding-0" align="left">
                <button onclick="window.location.href='/digging-deeper'" style="border: none;background-color: #fdf6ee;">
                    <img
                    width="50px"
                    style="margin-top: 5px; margin-bottom: 20px"
                    src="../static/img/back.svg"
                    />
                </button>
            </div>
            <div class="col padding-0" align="right">
                <button onclick="window.location.href='/final-report'" style="border: none;background-color: #fdf6ee;">
                    <img
                    width="50px"
                    style="margin-top: 5px; margin-bottom: 20px"
                    src="../static/img/next.svg"
                    />
                </button>
            </div>
        </div>
    </div>
</body>
</html>