{% extends "layout.html" %} {% block title %}Skill Recommendation{% endblock %}
{% block content %}

<div class="container bg-beige">
  <br />
  <div class="row">
    <div class="col text-center">
      <h1>Skill Recommendation</h1>
      <div class="col" style="margin: auto">
        <img
          class="img-card" src=" {{ url_for('static', filename = 'img/stations/skills.svg') }}"
        />
        <h4>Tap for more information</h4>
      </div>

      <div class="col" id="skill-list" style="margin: auto">          
        </div>
      </div>
    </div>
  </div>
  <br />

  <!-- <div class="row"></div> -->

  <!-- BACK NEXT BUTTONS -->
  <br />
  <div class="row">
    <div class="col">
      <a href="/final-report">
        <img
          style="width: 90px; float: left; margin-left: 30px"
          src=" {{ url_for('static', filename = 'img/misc/back.svg') }}"
        />
      </a>
    </div>
    <div class="col">
      <a href="/book-recommendation">
        <img
          style="width: 90px; float: right; margin-right: 30px"
          src=" {{ url_for('static', filename = 'img/misc/next.svg') }}"
        />
      </a>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script>
  $(async() => {
      var finalpersona = sessionStorage.getItem("finalpersona");
      var mockFinalPersona = "App Developer"
      var response = await fetch("http://finalpersona.artjam-287602.et.r.appspot.com/get_skills_by_final_persona/" + mockFinalPersona);
      var data = await response.json();
      var skills = data["skills"]
      skills.forEach(skill => {
        var row = '<div class="card"> <div class="card-header" id="headingOne"> <h5 class="mb-0"> <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >' 
            + skill["name"] + '</button> </h5> </div><div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#skill-list" > <div class="card-body">'
            + skill["description"] + '</div></div>';
          $("#skill-list").append(row);
      });
  });
</script>
{% endblock %}
