<!DOCTYPE html>
<html lang="en" style="height:100%;">

<head>
    <title>ARTJAM</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/book-style.css">
</head>

<body class="bg-beige" style="height:100%;">

    <div class="container bg-beige full-height">

        <nav class="navbar navbar bg-beige">
            <a class="navbar-item" href="/books">
                <button type="button" class="btn text-white bg-beige font-weight-bold">
                  <div style="object-fit: cover; width: 20px; height: 30px;">
                    <img  style="width: 60px; margin-left: -15px;" src="../static/img/back.svg">
                    
                  </div>
                  
                </button>
                
      
      
            </a>
      
          </nav>

        <br>
        <div class="row">

            <div class="col" align='center'>
                <br>
                <h2 id="bookName"></h2>
                <h4 id="author"></h4>
                <br>
                <img id="book-img" width="250px" src="">
                <hr>
                <p class="text-justify" style="width:80%;" id="description"></p>

            </div>
            <br><br><br><br>

        </div>
        <br><br>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>

        $(document).ready(function () {
            var book = JSON.parse(sessionStorage.getItem("book"));

            $("#bookName").text(book["name"])
            $("#author").text(book["author"])
            $("#book-img").attr("src", book["image_link"])
            $("#description").text(book["description"])

            console.log($("book-img"))

        });


    </script>

</body>


</html>