<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="wheel.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="progress-tracker.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p class=" header text-center">Please select an <strong>interest</strong> that is most relevant to you.</p>
    <form action="wheel2.php" method="get">
        <div class="container">
            <img src="../static/img/health.jpg" alt="Health">
            <button name="interest" value="health" onclick="window.location.href='wheel2.php';" class="btn" style="background-color: #9de9fb;color: black;">Health</button>
        </div>
        <div class="container">
            <img src="../static/img/volunteer.png" alt="Volunteerism & Advocacy">
            <button name="interest" value="volunteer" onclick="window.location.href='wheel2.php';" class="btn" style="background-color: #d2e7c3;color: black;">Volunteerism & Advocacy</button>
        </div>
        <div class="container">
            <img src="../static/img/smu-home.jpg" alt="Campus">
            <button name="interest" value="campus" onclick="window.location.href='wheel2.php';" class="btn" style="background-color: #d5a13d;color: black;">Campus</button>
        </div>
        <div class="container">
            <img src="../static/img/environment.jpg" alt="Environment">
            <button name="interest" value="environment" onclick="window.location.href='wheel2.php';" class="btn" style="background-color: #1f8e26;color: white;">Environment</button>
        </div>
        <div class="container">
            <img src="../static/img/personal-development.jpg" alt="Personal Development">
            <button name="interest" value="personal-development" onclick="window.location.href='wheel2.php';" class="btn" style="background-color: #6d7e90;color: white;">Personal Development</button>
        </div>
    </form>
    <!-- <a href="wheel2.html" class="next">&#8250;</a> -->
</body>
</html>